.movie-modal__wrapper-link {
  color: inherit;
  display: flex;
  position: relative;
  text-decoration: none;
}

.movie-modal__img {
  border-radius: var(--s1) var(--s1) 0 0;
  height: 196px;
  object-fit: cover;
  object-position: 0 10%;
  width: 100%;
}

.movie-modal__title {
  font-size: 18px;
  font-weight: bold;
  padding: var(--s2);
}

.movie-modal__upper {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.movie-modal__body {
  padding: var(--s2);
}

.movie-modal__details {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.movie-modal__genre {
  color: var(--mutedText);
  font-size: 16px;
  font-weight: normal;
  margin-top: var(--s1);
}

.movie-modal__rating {
  color: orange;
  font-size: 16px;
  font-weight: normal;
  margin-top: var(--s1);
}

.movie-modal__favorite-heart {
  background: linear-gradient(
    111.34deg,
    var(--buttonGradientCol1) 0%,
    var(--buttonGradientCol2) 100%
  );
  border-radius: 50%;
  height: 40px;
  position: absolute;
  right: var(--s1);
  top: var(--s1);
  width: 40px;
  z-index: 999;
}

.movie-modal__favorite-heart::after {
  color: var(--textCol);
  content: '♡';
  font-size: 48px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.movie-modal {
  border-radius: var(--s1);
  position: absolute;
  transition: transform var(--transitionSpeed) ease-in-out;
  animation-name: zIndexAnimation;
  animation-timing-function: ease;
  animation-duration: var(--transitionSpeed);
  animation-fill-mode: forwards;
}

// We need to set a higher z-index (100) on hover for the modal to overlap other cards.
// Normally, when no longer hovering, the z-index would instantly jump back to the initial value (2), which makes it so that the
// modal text suddenly is behind other cards even while the transition back is still playing.

// To fix this we add a keyframe animation to the not-hovered modal ("animating" z-index), that plays once we
// are no longer hovering the modal so that the z-index going back is delayed.
// ("animation:none" is needed to reset the animation)

.movie-card:hover .movie-modal {
  transform: scale(1.1);
  animation: none;
  z-index: 100;
}

@keyframes zIndexAnimation {
  0% {
    z-index: 100;
  }
  100% {
    z-index: 2;
  }
}

.movie-modal__content {
  background: linear-gradient(
    111.34deg,
    var(--gradientCol1) 0%,
    var(--gradientCol2) 100%
  );
  border-radius: 0 0 var(--s1) var(--s1);
  max-height: 0;
  overflow: hidden;
  position: relative;
  opacity: 0;
  transition: all var(--transitionSpeed) ease-in-out;
}

.movie-card:hover .movie-modal__content {
  max-height: 1000px;
  opacity: 1;
}

.movie-modal__video {
  border-radius: var(--s1) var(--s1) 0 0;
  height: 196px;
  object-fit: cover;
  object-position: 50% 0;
  opacity: 1;
  transition: opacity 0s ease-in;
  width: 100%;
}

.movie-card:hover .movie-modal__video {
  opacity: 1;
  transition: opacity 1s ease-in;
  z-index: 777;
}

.movie-modal .movie-modal__img {
  border-radius: var(--s1) var(--s1) 0 0;
  height: 196px;
  left: 0;
  object-fit: cover;
  object-position: 0 10%;
  position: absolute;
  top: 0;
  width: 100%;
}
