.genre-view {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: var(--s3);
  margin-top: var(--s3);
  width: 100%;
}

.genre-view__name {
  margin-bottom: var(--s3);
}

.genre-view__description {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: var(--s5);
  margin-top: var(--s4);
}

.genre-view .movies-list {
  margin-top: var(--s3);
  padding: 0;
}
