.movie-card {
  margin-bottom: 16px;
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: none;
  }

  .favorite-star {
    color: orange;
    font-size: 40px;
    padding: 0 16px;
    position: absolute;
    right: 0;
  }

  .fav-btn {
    z-index: 999;
  }
  .card-img {
    width: 200px;
  }
}

