.director-view {
  max-width: 600px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.director-view__details {
  background: var(--mutedBlack);
  padding: var(--s3);
  margin-top: var(--s3);
}

.director-view__name {
  margin-bottom: var(--s3);
}
.director-view__birth,
.director-view__death {
  font-weight: bold;
}

.director-view__description {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: var(--s5);
  margin-top: var(--s4);
}