.movie-view {
  align-items: stretch;
  display: grid;
  flex-grow: 1;
  gap: var(--s3);
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  overflow: hidden;
  padding: var(--s3);
  position: relative;
  width: 100%;

  * {
    z-index: 1;
  }
}
@media screen and (max-width: 467px) {
  .movie-view {
    gap: 0;
    padding: 0;
  }
}

.movie-view__favorite-heart {
  background: linear-gradient(
    111.34deg,
    var(--buttonGradientCol1) 0%,
    var(--buttonGradientCol2) 100%
  );
  border-radius: 50%;
  height: 60px;
  position: absolute;
  right: var(--s1);
  top: var(--s1);
  width: 60px;
  z-index: 2;
}

.movie-view__favorite-heart::after {
  color: var(--textCol);
  content: '♡';
  font-size: 48px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.movie-view__background-image {
  opacity: 0.05;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}

.movie-view__image {
  object-fit: cover;
  width: 100%;
}

.movie-view__details {
  background: var(--mutedBlack);
  padding: var(--s3);
}

.movie-view__title {
  margin-bottom: var(--s3);
}

.movie-view__rating {
  color: orange;
  font-size: 20px;
  font-weight: normal;
}

.movie-view__genre,
.movie-view__director {
  color: var(--mutedText);
  font-size: 20px;
  margin-top: var(--s2);
}

.movie-view__description {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: var(--s5);
  margin-top: var(--s4);
}

.movie-view__button-wrapper {
  text-align: center;
}

.movie-view__image-placeholder {
  align-items: center;
  background: linear-gradient(
    111.34deg,
    var(--gradientCol1) 0%,
    var(--gradientCol2) 100%
  );
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}