.filtered-movies-list {
  display: grid;
  gap: var(--s3);
  grid-template-columns: repeat(auto-fill, minmax(min(256px, 100%), 1fr));
  padding: var(--s3);
  width: 100%;
}

.pagination-links {
  display: flex;
  gap: var(--s3);
  align-items: center;
  justify-content: center;
  padding: var(--s3);
  width: 100%;
}
