.navbar {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: var(--contentMaxWidth);
  justify-content: space-between;
  padding: var(--s2) var(--s3);
  flex-wrap: wrap;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline;
  }
}

.navbar__link {
  color: var(--linkCol);
  font-size: 20px;
  font-weight: bold;
  margin-left: var(--s3);
  text-decoration: none;

  &:hover {
    color: var(--primaryCol);
    text-decoration: none;
  }
}

.navbar__link--active {
  box-shadow: 0 1px var(--secondaryCol);
}

.logo {
  flex-grow: 1;
  font-size: 36px;
  span {
    color: var(--primaryCol);
  }
}

a.button.logout-button {
  margin-left: var(--s5);
  text-decoration: none;
}