.search-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.search-bar__input {
  background: var(--mutedBlack);
  border-radius: 999px;
  border: 1px solid transparent;
  caret-color: var(--mutedText);
  color: var(--textCol);
  margin: 0;
  max-width: 0; // Transition max-width to not have weird "jumps" when transitioning
  opacity: 0;
  outline: none;
  padding: var(--s1) var(--s3) var(--s1) var(--s5);
  pointer-events: none; // Disable pointer events when hidden so you can click the open button easier (they overlap)
  transition: max-width var(--transitionSpeed) ease,
    opacity var(--transitionSpeed) ease;

  &:focus {
    border: 1px solid var(--primaryCol);
  }
}

.search-bar__input::placeholder {
  color: var(--mutedText);
}

.search-bar__open-button__icon {
  color: var(--mutedText);
  font-size: 36px;
}

.search-bar__open-button {
  background: transparent;
  border-radius: 0;
  left: 0;
  margin: 0;
  padding: 0 var(--s2);
  position: absolute;
  transform: translateX(50%);
}

.search-bar--opened .search-bar__open-button {
  pointer-events: none;
  transform: translateX(0%);
}

.search-bar--opened .search-bar__input {
  max-width: 500px;
  opacity: 1;
  pointer-events: auto;
  transition: max-width var(--transitionSpeed) ease,
    opacity var(--transitionSpeed) ease;
}

@media screen and (max-width: 850px) {
  .search-bar {
    padding: var(--s2) var(--s3);
    width: 100%;
    order: 2;
  }

  .search-bar__input {
    flex-grow: 1;
    max-width: 100%;
    opacity: 1;
    pointer-events: auto;
  }

  .search-bar__open-button {
    pointer-events: none;
    transform: translateX(var(--s3));
  }
}