label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

#register-username,
#register-password {
  margin-top: 4px;
  width: 100%;
}

#register-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}
