label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

#login-username,
#login-password {
  margin-top: 4px;
  width: 100%;
}

#login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login-button {
  width: auto;
}