// Use CSS variables instead of SCSS variables so we can use them in other files without the need to export/import
:root {
  --contentMaxWidth: 1280px;
  --textCol: #fff;
  --linkCol: #fff;
  --textColDisabled: rgba(255, 255, 255, 0.4);
  --mutedText: rgba(255, 255, 255, 0.7);
  --mutedBlack: rgba(0, 0, 0, 0.1);
  --primaryCol: #00d1ff;
  --secondaryCol: #ff7161;
  --disabledCol: hsl(201,0%, 37%);
  --gradientCol1: hsl(296, 5%, 37%);
  --gradientCol2: hsl(201, 5%, 22%);
  --buttonGradientCol1: #ff7161;
  --buttonGradientCol2: #DA6385;
  --buttonGradientCol3: #00d1ff;
  --buttonGradientCol4: #AC57EF;
  --s1: 8px;
  --s2: 16px;
  --s3: 24px;
  --s4: 32px;
  --s5: 48px;
  --s6: 64px;
  --transitionSpeed: 0.3s;
  --transitionTiming: ease-out;
}

// System font stack
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

body {
  background: linear-gradient(
    111.34deg,
    var(--gradientCol1) 0%,
    var(--gradientCol2) 100%
  );
  color: var(--textCol);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  background: var(--mutedBlack);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container {
  align-items: center;
  background: var(--mutedBlack);
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 auto;
  max-width: var(--contentMaxWidth);
  width: 100%;
}

::selection {
  background: var(--secondaryCol);
}

a {
  transition: all var(--transitionSpeed) var(--transitionTiming);
}

a:not([class]) {
  color: var(--primaryCol);
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: var(--secondaryCol);
  }
}

label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

input {
  background: var(--mutedBlack);
  border-radius: var(--s1);
  border: 1px solid transparent;
  caret-color: var(--mutedText);
  color: var(--textCol);
  font-weight: normal;
  margin-bottom: var(--s2);
  margin-top: var(--s1);
  outline: none;
  padding: var(--s1) var(--s3);
  transition: border var(--transitionSpeed) var(--transitionTiming);

  &:hover {
    border: 1px solid var(--secondaryCol);
  }
  &:focus {
    border: 1px solid var(--primaryCol);
  }
}

// https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input::placeholder {
  color: var(--mutedText);
}

button,
.button {
  background: linear-gradient(
    135deg,
    var(--buttonGradientCol1),
    var(--buttonGradientCol2),
    var(--buttonGradientCol3),
    var(--buttonGradientCol4)
  );
  background-size: 300% 100%;
  border-radius: var(--s1);
  border: none;
  color: var(--textCol);
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: bold !important;
  line-height: 1.6;
  outline: none;
  padding: var(--s1) var(--s3);
  transition: all var(--transitionSpeed) var(--transitionTiming);

  &:hover {
    background-position: 100% 0%;
  }

  &:disabled {
    background: var(--disabledCol);
    color: var(--textColDisabled);
    pointer-events: none;
  }
}

button.secondary,
.button.secondary {
  background: linear-gradient(
    135deg,
    var(--buttonGradientCol3),
    var(--buttonGradientCol4),
    var(--buttonGradientCol1),
    var(--buttonGradientCol2)
  );
  background-size: 300% 100%;

  &:hover {
    background-position: 100% 0%;
  }
}

button.clear,
.button.clear {
  background: linear-gradient(
    135deg,
    var(--mutedBlack),
    var(--mutedBlack),
    var(--buttonGradientCol1),
    var(--buttonGradientCol2)
  );
  background-size: 400% 100%;
  color: var(--mutedText);

  &:hover {
    color: white;
    background-position: 100% 0%;
  }
}

button.clear--secondary,
.button.clear--secondary {
  background: linear-gradient(
    135deg,
    var(--mutedBlack),
    var(--mutedBlack),
    var(--buttonGradientCol3),
    var(--buttonGradientCol4)
  );
  background-size: 400% 100%;
  color: var(--mutedText);

  &:hover {
    color: white;
    background-position: 100% 0%;
  }
}

.login-view,
.register-view {
  align-self: center;
  background: var(--mutedBlack);
  border-radius: var(--s1);
  margin: auto 0;
  padding: var(--s4);

  button {
    margin: var(--s4) 0;
    width: 100%;
  }

  p {
    text-align: center;
  }
}

.login-view__heading,
.register-view__heading {
  margin-bottom: var(--s4);
}